<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link rel="stylesheet" href="./assets/tailwind.css">
</head>
<body class="bg-[#1f1f1f]">
<div class="flex justify-center align-center">
  <div class="bg-[#0a0a0a] border-2 border-[#1a1a1a] align-center mt-[5rem] px-10 py-3 ">
   <h1 class="text-white font-thin text-2xl">Express template w/ Database</h1>
   <p  class="text-white font-thin text-lg">Build faster, Publish safer</p>
   <div class="grid grid-cols-1 items-center justify-center gap-2 p-5 md:grid-cols-2 md:gap-2">
    <button class="text-white font-semibold rounded-md bg-[#252525] py-2">Express</button>
    <button class="text-white font-semibold rounded-md bg-[#252525] py-2">EJS</button>
    <button class="text-white font-semibold rounded-md bg-[#252525] py-2">Quick.DB</button>

  </div>
  </div>
  
</div>
</body>
</html>